.boxes  {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 10px;
}
.boxes button {
    align-self: center;
}
.container {
    display: flex;
    flex-direction: column-reverse;
}

div {
    padding: 1cm;
}